#preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background: url('../img/preloader.gif') center no-repeat #ffffff;
    text-align: center;
}

#nav {
    position: fixed;
    width: 100%;
    z-index: 2;
    background: #ffffff;
    box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.04);
    li {
        a {
            color: #333333;
        }
    }
    .brand {
        position: relative;
        a {
            display: inline-block;
            min-height: 90px;
            line-height: 90px;
            position: relative;
            z-index: 1;
            padding-left: 0;
            padding-right: 30px;
            img {
                &.logo {
                    display: none;
                }
            }
            &::after {
                position: absolute;
                right: 0;
                top: 0;
                content: "";
                height: 93px;
                width: 500%;
                background: #437eeb;
                z-index: -1;
            }
        }
    }
    .nav-bar-menu {
        .nav-menu {
            .menu {
                margin: 0;
                padding: 0;
                li {
                    position: relative;
                    display: inline-block;
                    a {
                        &.active {
                            color: #437eeb;
                        }
                        font-size: 13px;
                        letter-spacing: 0.06em;
                        padding: 35px 15px;
                        text-transform: uppercase;
                        display: inline-block;
                        font-weight: 800;
                        position: relative;
                        transition: all 0.35s ease-in-out;
                        line-height: 22px;
                        --myVar: "\f107";
                        &.dropdown::after {
                            content: var(--myVar);
                            font-family: "Font Awesome 5 Free";
                            margin-left: 5px;
                            margin-top: 2px;
                            border: none;
                            font-weight: 900;
                            transition: all 0.35s ease-in-out;
                        }
                        &:hover {
                            --myVar: "\f106";
                            color: #437eeb;
                        }
                    }
                    .dropdown-menu {
                        background: #fff none repeat scroll 0 0;
                        border: 1px solid transparent;
                        border-radius: 2px;
                        box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.15);
                        padding: 0;
                        width: 250px;
                        display: block;
                        visibility: hidden;
                        top: 75%;
                        opacity: 0;
                        transition: all 0.85s ease;
                        &.show {
                            top: 100%;
                            opacity: 1;
                            visibility: visible;
                        }
                        li {
                            display: block;
                            a {
                                color: #333333;
                                display: block;
                                font-size: 14px;
                                margin-bottom: 0;
                                padding: 10px 15px;
                                text-align: left;
                                text-transform: capitalize;
                                width: 100%;
                                border-bottom: solid 1px #f5f5f5;
                                font-weight: 600;
                                &:hover {
                                    color: #437eeb;
                                }
                                .badge {
                                    padding: 3px 10px;
                                    font-weight: 600;
                                    margin-left: 4px;
                                    background: #437eeb;
                                    color: #ffffff;
                                    border-radius: 5px;
                                }
                            }
                            li:last-child>a {
                                border-bottom: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .action-menu {
        .actrion {
            position: relative;
            margin: 0;
            padding: 0;
            &>li {
                padding: 25px 0;
                font-size: 18px;
                display: inline-block;
                position: relative;
                line-height: 22px;
                &>a {
                    display: inline-block;
                    padding: 7px 10px !important;
                    &.search-btn {
                        padding-left: 17px!important;
                    }
                    i {
                        font-weight: 400;
                    }
                    &.side-menu {
                        padding-right: 0 !important;
                    }
                }
                .search-form {
                    background-color: #ffffff;
                    border-radius: 30px;
                    box-shadow: 0 10px 40px -15px rgba(0, 0, 0, 0.5);
                    position: absolute;
                    right: -40px;
                    top: 90px;
                    z-index: 99;
                    border: 1px solid #e7e7e7;
                    overflow: hidden;
                    visibility: hidden;
                    height: 0;
                    transition: all 0.35s ease-in-out;
                    &.show {
                        height: 50px;
                        visibility: visible;
                        transition: all 0.35s ease-in-out;
                    }
                    input {
                        background-color: transparent;
                        border: medium none !important;
                        box-shadow: inherit;
                        color: #1c1c1c;
                        min-width: 300px;
                        padding: 0 20px;
                        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
                        font-size: 1rem;
                    }
                    button {
                        background: transparent none repeat scroll 0 0;
                        border: medium none;
                        box-shadow: none;
                        color: #666666;
                        height: 50px;
                        position: absolute;
                        right: 0;
                        text-align: center;
                        top: 0;
                        width: 50px;
                        z-index: 9;
                        i {}
                    }
                }
                .side {
                    position: fixed;
                    overflow-y: auto;
                    top: 0;
                    right: -400px;
                    width: 400px;
                    padding: 50px;
                    height: 100%;
                    display: block;
                    background-color: #ffffff;
                    transition: all 0.3s ease-in-out;
                    z-index: 9;
                    box-shadow: 0 15px 40px -5px rgba(0, 0, 0, 0.1);
                    &.on {
                        right: -16px;
                    }
                    .close-side {
                        border-radius: 50%;
                        color: #f44336;
                        float: right;
                        font-size: 20px;
                        font-weight: 400;
                        height: 40px;
                        line-height: 38px;
                        position: relative;
                        text-align: center;
                        top: -30px;
                        width: 40px;
                        z-index: 2;
                    }
                    .widget {
                        position: relative;
                        z-index: 1;
                        margin-bottom: 50px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        h4 {
                            display: block;
                            font-weight: 800;
                            margin-bottom: 25px;
                            padding-bottom: 15px;
                            position: relative;
                            text-transform: capitalize;
                            z-index: 1;
                            border-bottom: 1px dashed #dddddd;
                        }
                        li {
                            display: block;
                            font-size: 15px;
                            margin-bottom: 15px;
                        }
                        .contact {
                            li {
                                display: flex;
                                margin-bottom: 25px;
                                .icon {
                                    padding-right: 15px;
                                    line-height: 40px;
                                    a {
                                        font-weight: 400;
                                    }
                                    i {
                                        color: #437eeb;
                                        font-size: 40px;
                                        display: inline-block;
                                        text-align: center;
                                        border-radius: 50%;
                                    }
                                }
                                .info {
                                    padding: 0;
                                    margin: 0;
                                    span {
                                        display: block;
                                        font-family: 'Nunito', sans-serif;
                                        font-weight: 900;
                                        line-height: 20px;
                                        text-transform: uppercase;
                                        font-size: 14px;
                                        width: 100%;
                                        margin-bottom: 5px;
                                        color: #232323;
                                    }
                                    p {
                                        margin: 0;
                                        padding: 0;
                                    }
                                }
                            }
                        }
                        &.social-contact {
                            .link {
                                li {
                                    a {
                                        color: #ffffff;
                                        display: inline-block;
                                        font-weight: 600;
                                        height: 40px;
                                        line-height: 42px;
                                        margin-right: 9px;
                                        margin-top: 5px;
                                        padding: 0;
                                        text-align: center;
                                        width: 40px;
                                        border-radius: 5px;
                                        font-size: 13px;
                                    }
                                    &.facebook a {
                                        background: #3b5998 none repeat scroll 0 0;
                                    }
                                    &.twitter a {
                                        background: #1da1f2 none repeat scroll 0 0;
                                    }
                                    &.pinterest a {
                                        background: #bd081c none repeat scroll 0 0;
                                    }
                                    &.dribbble a {
                                        background: #ea4c89 none repeat scroll 0 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &::before {
                background: #e7e7e7 none repeat scroll 0 0;
                content: "";
                height: 30px;
                left: 0;
                margin-top: -15px;
                position: absolute;
                top: 50%;
                width: 1px;
            }
        }
    }
}